{% extends "base.html" %}


{% block content %}
<style>
#parent #popup {
  display: none;
}
#parent:hover #popup {
  display: block;
  white-space: wrap;
  word-wrap:break-word;
  min-width:500px;
  height:100px;
  font-size:20px
}
.row {
  display: flex;
}
.column {
  flex: 20%;
}
.table_wrapper{
   display: block;
   overflow: auto;
   white-space: nowrap;
   position: fixed;
   width: 98%;
   height: 75%;
   left: 1%;
   right: 8px;
}
tbody td.editor{
    background:white;
    border: none;
}

table thead:first-child {
  left: 0;
  z-index: 3;
  background: CadetBlue;
  color:white;
  position:sticky;
}
.first-col {
  left: 0;
  background: white;
  z-index: 2;
  position:sticky;
  text-align: left;
  border: 1px solid black;
}
.first-col-head {
  left: 0;
  background: CadetBlue;
  z-index: 2;
  position:sticky;
  text-align: left;
  border: 1px solid black;
}
td{
    word-wrap:break-word;
    min-width:10px;
    overflow-x: auto;
}
.deleted{
      background: DarkRed !important;
      color: white;
}

.P{
      background:    CornflowerBlue   !important;
}
.D{
      background:  Indigo  !important;
      color:white;
}

.y{
       background:   #a3e4d7 !important;
}
.n{
       background:   Cornsilk  !important;
}
.None{
       background:   Cornsilk  !important;
}
.x{
       background:   Cornsilk  !important;
}

.status-AUTO_ADD{
    background: DarkRed;
    color: white;
}
.y-button{
       background:  LightCyan !important;
       color:black;
}
.n-button{
       background:   DarkRed  !important;
       color:white;
}
.no-delivery-button{
       background:   Cornsilk  !important;
       color:black;
}
.None-button{
       background:   DarkRed  !important;
       color:white;
}
.x-button{
       background:   Cornsilk  !important;
       color:white;
}

.y-col{
       color:  DarkCyan !important;
}
.n-col{
       color:   DarkRed  !important;
       font-weight:bold;
}
.None-col{
       color:   DarkRed  !important;
       font-weight:bold;
}
.x-col{
       color:   DarkRed  !important;
       font-weight:bold;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:   #d1f2eb ;
}

.alert.success {
  background-color: Teal;
}

.alert.error {
  background-color: IndianRed;
}

.limarg {
  margin:5px
}
</style>

<h3> {{ title }}</h3>

<div class="hero-head">
  <nav class="navbar navbar-expand-lg " style="background-color: LightBlue;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <form method="POST" action="ctgdata_post">
            <input style=font-size:16px  class="input is-small" class="form-control mr-sm-2" type="search_proj" name="search_proj" placeholder="Search Project-ID" aria-label="search_proj">
            <button style=font-size:16px class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>

        </li>
      </ul>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <ul margin:10px class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item limarg">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('ctgdata.ctgdata_addproject') }}">
                  <input style=font-size:16px class="btn btn-light my-2 my-sm-0" type=submit value="Add Project" />
                </form>
              </li>
	      <li class="nav-item limarg">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('ctgdata.ctgdata_scanLsens') }}">
                  <input style=font-size:16px class="btn btn-light my-2 my-sm-0" type=submit value="Scan Lsens4 Runfolders" />
                </form>
              </li>
              <!--
              <li class="nav-item limarg ">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('ctgdata.ctgdata_import') }}" method=post class=import>
                  <input type=hidden name=import_all_projects />
                  <input style=font-size:16px class="btn btn-light my-2 my-sm-0" type=submit value="Import CSV file" />
                </form>
              </li>
              -->
              <li class="nav-item limarg ">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('ctgdata.ctgdata_export') }}" method=post class=import>
                  <input type=hidden name=export_all_projects />
                  <input style=font-size:16px class="btn btn-light my-2 my-sm-0" type=submit value="Export to CSV" />
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        {{ message|capitalize }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="btn-group btn-group-toggle" role="group" >
    <form action="{{ url_for('ctgdata.ctgdata_all') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="show all" />
    </form>
<!--
    <a class="btn btn-light my-2 my-sm-0" href="{{ url_for('ctgdata.ctgdata_ctgproj') }}" > with projid</a>
-->
    <form action="{{ url_for('ctgdata.ctgdata_2022_run') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="2022 runs" />
    </form>
    
    <form action="{{ url_for('ctgdata.ctgdata_2021_run') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="2021 runs" />
    </form>

    <form action="{{ url_for('ctgdata.ctgdata_2020_run') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="2020 runs" />
    </form>
<!--
    <form action="{{ url_for('ctgdata.ctgdata_2021_proj') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="2021 projects" />
    </form>

    <form action="{{ url_for('ctgdata.ctgdata_2020_proj') }}" method=post class=show>
      <input class="btn btn-light my-2 my-sm-0" class="input is-large" type=submit value="2020 projects" />
    </form>
  -->
  </div>



  <div class="table_wrapper">
    <table id="clickable" style="font-size:13px;"class="table table-striped table-bordered table-narrow table-hover table-sm">
    <thead class="first-child">
        <tr>
          <th> Edit </th>
          <th class="first-col-head" style=cursor:pointer onclick="sortTable(1)"> CTG Project-ID </th>
          <th style=cursor:pointer onclick="sortTable(2)"> Runfolder </th>
          <th style=cursor:pointer onclick="sortTable(3)"> Status </th>
          <th style=cursor:pointer onclick="sortTable(4)"> bnfdude </th>
          <th style=cursor:pointer onclick="sortTable(5)"> pipeline </th>
          <th style=cursor:pointer onclick="sortTable(6)"> delivered? </th>
          <th style=cursor:pointer onclick="sortTable(7)"> qclogged </th>
          <th style=cursor:pointer onclick="sortTable(8)"> ctg-interop </th>
          <th style=cursor:pointer onclick="sortTable(9)"> ctg-sav-saved </th>
          <th style=cursor:pointer onclick="sortTable(10)"> delivery report </th>
          <th style=cursor:pointer onclick="sortTable(11)"> on lsens4 </th>
          <th style=cursor:pointer onclick="sortTable(12)"> customer PI </th>
          <th style=cursor:pointer onclick="sortTable(13)"> customer </th>
          <th style=cursor:pointer onclick="sortTable(14)"> lfs603 user </th>
          <th style=cursor:pointer onclick="sortTable(15)"> delivery contact </th>
          <th style=cursor:pointer onclick="sortTable(16)"> library </th>
          <th style=cursor:pointer onclick="sortTable(17)"> workfolder </th>
          <th style=cursor:pointer onclick="sortTable(18)"> Added (to table) </th>
          <th style=cursor:pointer;text-align:left onclick="sortTable(19)"> comment </th>
          <th style=cursor:pointer> Remove </th>
        </tr>
      </thead>
      {% for proj in projs %}
      <tbody>
        <tr class="{{ proj.delivered }}">
          <td class="editor"> <a class="btn btn-info" style=font-size:7px; href="{{ url_for('ctgdata.edit_project',proj=proj.projid ) }}"> Edit </a> </td>
          <td class="first-col"> <a href="{{ url_for('listers.list_projhtml',proj=proj.projid ) }}">{{ proj.projid }}</a> </td>
          <td> <a href="{{ url_for('listers.interop_html',run=proj.runfolder) }}">{{ proj.runfolder }} </a> </td>
          <td class="status-{{ proj.status}}"> {{ proj.status }} </td>
          <td class={{ proj.bnfdude }} >  {{ proj.bnfdude }} </td>
          <td>  {{ proj.datatype }} </td>
          <td>
            <form action="{{ url_for('ctgdata.ctgdata_delivered') }}" method=post class=deliver>
              <input type=hidden value="{{ proj.projid }}" name=proj_delivered />
              <input type=submit class="{{ proj.delivered }}-button" value="{{ proj.delivered }}" />
            </form>
         </td>
	  <td>
            <form action="{{ url_for('ctgdata.ctgdata_qclog') }}" method=post class=deliver>
              <input type=hidden value="{{ proj.projid }}" name=proj_qclog />
              <input type=submit class="{{ proj.qclogged }}-button" value="{{ proj.qclogged }}" />
            </form>
          </td>
          <td>
            <form action="{{ url_for('ctgdata.ctgdata_ctginterop') }}" method=post class=deliver>
              <input type=hidden value="{{ proj.projid }}" name=proj_ctginterop />
              <input type=submit class="{{ proj.ctginterop }}-button" value="{{ proj.ctginterop }}" />
            </form>
          </td>
	  <td>
            <form action="{{ url_for('ctgdata.ctgdata_ctgsavsave') }}" method=post class=deliver>
              <input type=hidden value="{{ proj.projid }}" name=proj_ctgsavsave />
              <input type=submit class="{{ proj.ctgsavsave }}-button" value="{{ proj.ctgsavsave }}" />
            </form>
          </td>
          <td>
            <form action="{{ url_for('ctgdata.ctgdata_deliveryrep') }}" method=post class=deliver>
              <input type=hidden value="{{ proj.projid }}" name=proj_deliveryrep />
              <input type=submit class="{{ proj.deliveryrep }}-button" value="{{ proj.deliveryrep }}" />
            </form>
          </td>
          <td class={{ proj.lsens4 }}>  {{ proj.lsens4 }} </td>
          <td>  {{ proj.customerpi }} </td>
          <td>  {{ proj.customer2 }} </td>
          <td>  {{ proj.lfs603user }} </td>
          <td> <button class="btn btn-light" style=font-size:10px id="p1" onclick="copyToClipboard('#p1')">  {{ proj.deliverycontact }} </button> </td>
          <td id="comment" width="300">
              <div style="width: 300px; overflow: auto">
                <div id="parent">
                   {{ proj.library }}
                  <div style="width: 500px; height: 30px;" id="popup"></div>
                </div>
              </div>
          </td>
          <td>  {{ proj.workfolder }} </td>
          <td>  {{ proj.created }} </td>
          <td id="comment" width="500">
              <div style="width: 500px; overflow: auto">
                <div id="parent">
                  {{ proj.comment }}
                  <div style="width: 500px; height: 50px;" id="popup"></div>
                </div>
              </div>
          </td>
	  <td>
            <form action="{{ url_for('ctgdata.ctgdata_delete') }}" method=post class=delete>
              <input type=hidden value="{{ proj.projid }}" name=proj_to_delete />
              <input onclick="return confirm('Are you sure you want to delete this item?')" type=submit value="Delete" />
            </form>
          </td>
	</tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("clickable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "desc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "desc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "asc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "desc") {
        dir = "asc";
        switching = true;
      }
    }
  }
}


</script>
{% endblock %}
